
// COULEUR SITE
$color-primary: teal;
$color-secondary: rgb(145, 80, 170);

// BUTTON
$button-base : rgb(72, 87, 218);
$button-valid : green;
$button-danger : rgb(109, 56, 40);

// link
$color-link : blue;



